## üìö SakamKnigi.mk - Book Dataset Cleaning & Preprocessing Pipeline

In [6]:
import pandas as pd
import missingno as msno
import re
import numpy as np

In [7]:
df = pd.read_csv("knigi.csv", encoding='utf-8-sig')

In [8]:
df.head()

,Title,Author,Real Price,Sale Price,Sale,Category,Retrieved At
0,–§–∞–≤–æ—Ä–∏—Ç–∏,–æ–¥: –õ–µ—ò–Ω –§–∞—Ä–≥–æ,590 –¥–µ–Ω,590 –¥–µ–Ω,0,–†–æ–º–∞–Ω—Å–∏,2025-05-02
1,–¢—É–Ω–µ–ª,–æ–¥: –ê–Ω–∞ –í–æ–ª—Ü,400 –¥–µ–Ω,400 –¥–µ–Ω,0,–†–æ–º–∞–Ω—Å–∏,2025-05-02
2,–â—É–±–æ–≤ –≤–æ –†–∏–º,–æ–¥: –°–∞—Ä–∞ –ê–¥–∞–º—Å,490 –¥–µ–Ω,490 –¥–µ–Ω,0,–†–æ–º–∞–Ω—Å–∏,2025-05-02
3,–®–ø–∞–Ω—Å–∫–∞ —ô—É–±–æ–≤–Ω–∞ –∏–∑–º–∞–º–∞,–æ–¥: –ï–ª–µ–Ω–∞ –ê—Ä–º–∞—Å,590 –¥–µ–Ω,590 –¥–µ–Ω,0,–†–æ–º–∞–Ω—Å–∏,2025-05-02
4,–ò–∑–æ–ø–∞—á–µ–Ω–∏ –ª–∞–≥–∏,–æ–¥: –ê–Ω–∞ –•—É–∞–Ω–≥,590 –¥–µ–Ω,590 –¥–µ–Ω,0,–†–æ–º–∞–Ω—Å–∏,2025-05-02

### 1. Convert 'Retrieved At' to datetime

### 2. Convert Sale to bool and rename to IsOnSale

### 3. Clean author and title fields

### 4. Fix duplicates and handle multiple authors

### 5. Clean and convert prices