In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("sakam_knigi_books.csv")

In [5]:
df.head()

,Title,Author,Real Price,Sale Price,Sale,Category
0,Фаворити,од: Лејн Фарго,590 ден,590 ден,0,Романси
1,Тунел,од: Ана Волц,400 ден,400 ден,0,Романси
2,Љубов во Рим,од: Сара Адамс,490 ден,490 ден,0,Романси
3,Шпанска љубовна измама,од: Елена Армас,590 ден,590 ден,0,Романси
4,Изопачени лаги,од: Ана Хуанг,590 ден,590 ден,0,Романси