# üìö Literatura.mk - Book Dataset Cleaning & Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('../data/original_datasets/literatura_books.csv', encoding='utf-8-sig')

In [3]:
df.head()

,id,title,author,price,category,retrieved_at
0,1,–°–≤–µ—Ç–æ—Ç —Ç–∏ –ø—Ä–∏–ø–∞—ì–∞ —Ç–µ–±–µ: –®—Ç–æ —Ç–∏ –Ω–µ–¥–æ—Å—Ç–∞—Å—É–≤–∞?,–†–æ–±–µ—Ä—Ç –ö–æ–ª–∏–µ—Ä,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
1,2,–°–≤–µ—Ç–æ—Ç —Ç–∏ –ø—Ä–∏–ø–∞—ì–∞ —Ç–µ–±–µ: –ü–æ–≥–ª–µ–¥–Ω–∏ —Å–µ –∫–∞–∫–æ –≥–æ –ø—Ä...,–†–æ–±–µ—Ä—Ç –ö–æ–ª–∏–µ—Ä,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
2,3,–ò–Ω–≤–µ—Å—Ç–∏—Ä–∞—ò –≤–æ —Å–µ–±–µ: –ú–µ–Ω—Ç–∞–ª–Ω–∏ –ø—Ä–∏—ò–∞—Ç–µ–ª–∏ –∏ –Ω–µ–ø—Ä–∏...,–û—Ä–∏—Å–æ–Ω –°–≤–µ—Ç –ú–∞—Ä–¥–µ–Ω,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
3,4,–ò–Ω–≤–µ—Å—Ç–∏—Ä–∞—ò –≤–æ —Å–µ–±–µ: –ë–∏–¥–∏ –æ–ø—à—Ç–µ—Å—Ç–≤–µ–Ω–æ —É—Å–ø–µ—à–µ–Ω,–û—Ä–∏—Å–æ–Ω –°–≤–µ—Ç –ú–∞—Ä–¥–µ–Ω,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
4,5,–ì—Ä–∞–º–∞—Ç–∏–∫–∞ –Ω–∞ —ô—É–±–æ–≤—Ç–∞,–ò–≤–∞–Ω –ë—É–Ω–∏–Ω,300.0,–†–ê–°–ö–ê–ó–ò,2025-05-15

### 1. Drop the redundant 'book_id' column

In [4]:
df = df.drop(columns=['id'])

### 2. Convert the 'Retrieved At' column to datetime format.

In [5]:
df['retrieved_at'] = pd.to_datetime(df['retrieved_at'])

In [6]:
df.head()

,title,author,price,category,retrieved_at
0,–°–≤–µ—Ç–æ—Ç —Ç–∏ –ø—Ä–∏–ø–∞—ì–∞ —Ç–µ–±–µ: –®—Ç–æ —Ç–∏ –Ω–µ–¥–æ—Å—Ç–∞—Å—É–≤–∞?,–†–æ–±–µ—Ä—Ç –ö–æ–ª–∏–µ—Ä,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
1,–°–≤–µ—Ç–æ—Ç —Ç–∏ –ø—Ä–∏–ø–∞—ì–∞ —Ç–µ–±–µ: –ü–æ–≥–ª–µ–¥–Ω–∏ —Å–µ –∫–∞–∫–æ –≥–æ –ø—Ä...,–†–æ–±–µ—Ä—Ç –ö–æ–ª–∏–µ—Ä,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
2,–ò–Ω–≤–µ—Å—Ç–∏—Ä–∞—ò –≤–æ —Å–µ–±–µ: –ú–µ–Ω—Ç–∞–ª–Ω–∏ –ø—Ä–∏—ò–∞—Ç–µ–ª–∏ –∏ –Ω–µ–ø—Ä–∏...,–û—Ä–∏—Å–æ–Ω –°–≤–µ—Ç –ú–∞—Ä–¥–µ–Ω,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
3,–ò–Ω–≤–µ—Å—Ç–∏—Ä–∞—ò –≤–æ —Å–µ–±–µ: –ë–∏–¥–∏ –æ–ø—à—Ç–µ—Å—Ç–≤–µ–Ω–æ —É—Å–ø–µ—à–µ–Ω,–û—Ä–∏—Å–æ–Ω –°–≤–µ—Ç –ú–∞—Ä–¥–µ–Ω,400.0,–ú–û–¢–ò–í–ê–¶–ò–à–ê –ò –°–ê–ú–û–ü–û–ú–û–®,2025-05-15
4,–ì—Ä–∞–º–∞—Ç–∏–∫–∞ –Ω–∞ —ô—É–±–æ–≤—Ç–∞,–ò–≤–∞–Ω –ë—É–Ω–∏–Ω,300.0,–†–ê–°–ö–ê–ó–ò,2025-05-15

### 3. Check for Duplicates
- There are no duplicate entries

In [7]:
duplicates = df[df.duplicated(keep=False)]
duplicates = duplicates.sort_values(by=['title', 'author'])
print("Length of duplicates: ", len(duplicates))

Length of duplicates:  188

### 4. Define a function to normalize author names  
- Inconsistent Formats:
    - Some names are written in the `"LastName, FirstName"` format.
    - Others are written in `"FirstName LastName"` or even as a comma-separated list of multiple authors.

- Normalizing names into a consistent format like `"FirstName LastName"` or `"Author1 Author2 Author3"`.

In [8]:
def normalize_author(author):
    if pd.isna(author):
        return author  
    if ',' in author:
        parts = [part.strip() for part in author.split(',')]
        return ' '.join(parts[::-1])
    return author

In [9]:
df['author'] = df['author'].apply(normalize_author)

### 5. Replace '?' in author with null

In [10]:
df.loc[df['author'].str.match(r'^[\?=]+$', na=False), 'author'] = np.nan

In [11]:
filtered_df = df[df['author'].str.match(r'^[\?=]+$', na=False)]

### 6. Replace '/' in author with null

In [12]:
df.loc[df['author'] == '/', 'author'] = np.nan

In [13]:
df.to_csv("../data/preprocessed_datasets/literatura_books.csv", encoding='utf-8-sig', index=False)

### Preprocessing Output Summary

Number of Books Scraped

In [14]:
df.shape[0]

234

Number of categories

In [15]:
total_categories = df['category'].nunique()
print(total_categories)

24